* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* body */
    --BODY-PADDING: 20px;
    /* upper-part-one */
    --LEFT-UPPER-PART-ONE: 75px;
    /* upper-part-two */
    --LEFT-UPPER-PART-TWO: 317px;
    /* upper-part-three */
    --LEFT-UPPER-PART-THREE: 645px;
    /* upper-part-four */
    --LEFT-UPPER-PART-FOUR: 890px;
    /* two */
    --MARGIN-LEFT-TWO: 83px;
    /* three */
    --MARGIN-LEFT-THREE: 164px;
    /* piano */
    --PIANO-PADDING: 30px;
    /* information */
    --INFO-WIDTH: 1146px;
    --INFO-HIGHT: 100px;
    --INFO-FONT-SIZE: 3rem;
    --MARGIN-INFO-BOTTON: 5px;
    /* piano-button */
    --PIANO-WIDTH: 80px;
    --PIANO-HEIGHT: 240px;
    --PIANO-SHADOW: 7px 7px 7px grey;
    --PIANO-FONT-SIZE: 1rem;
    /* upper-button */
    --UPPER-WIDTH: 50px;
    --UPPER-HIGHT: 110px;
    --UPPER-LEFT: -12.5px;
    /* .information .phone */
    --INFO-PHONE-DISPLAY: none;
}

body {
    padding: var(--BODY-PADDING);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(135deg, white, black);
}

.piano {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .2px solid white;
    border-radius: 15px;
    background-color: black;
    padding: var(--PIANO-PADDING);
    box-shadow: 10px 10px 10px -5px black;
    font-family: Arial, Helvetica, sans-serif;
}

.information {
    background-color: white;
    margin-bottom: var(--MARGIN-INFO-BOTTON);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--INFO-FONT-SIZE);
    flex-direction: column;
    border-radius: 15px 15px 0px 0px;
    width: var(--INFO-WIDTH);
    height: var(--INFO-HIGHT);
}

.title {
    text-shadow: 3px 3px 3px grey;
}

.information .phone {
    font-size: 1rem;
    display: var(--INFO-PHONE-DISPLAY);
    text-shadow: 1px 1px 1px black;
}

.buttons {
    display: flex;
    justify-content: center;
}

.upper {
    position: relative;
    top: 0px;
}

.upper-part-one {
    left: var(--LEFT-UPPER-PART-ONE);
}

.upper-part-two {
    left: var(--LEFT-UPPER-PART-TWO);
}

.upper-part-three {
    left: var(--LEFT-UPPER-PART-THREE);
}

.upper-part-four {
    left: var(--LEFT-UPPER-PART-FOUR);
}

.two {
    margin-left: var(--MARGIN-LEFT-TWO);
}

.three {
    margin-left: var(--MARGIN-LEFT-THREE);
}

.piano-button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: var(--PIANO-WIDTH);
    height: var(--PIANO-HEIGHT);
    font-size: var(--PIANO-FONT-SIZE);
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    box-shadow: var(--PIANO-SHADOW);
    margin: 0px 1px;
    z-index: 0;
}

.piano-button:last-child {
    border-radius: 0px 0px 6px 0px ;
}

.do {
    border-radius: 0px 0px 0px 6px;
}

.piano-button:hover,
.active {
    background-color: rgb(150, 150, 150);
    transform: translateY(4px);
    box-shadow: none;
    scale: 0.99;
    top: 0px;
}

.upper-button {
    background-color: black;
    position: absolute;
    width: var(--UPPER-WIDTH);
    height: var(--UPPER-HIGHT);
    left: var(--UPPER-LEFT);
    top: 0;
    cursor: pointer;
    z-index: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    transition: all .4s ease;
}

.upper-button:hover,
.upper-active {
    background-color: rgb(60, 60, 60);
    box-shadow: 2px 2px 2px rgb(93, 93, 93);
    top: -1px;
    scale: 0.99;
}

@media (min-width: 601px) and (max-width: 1024px) {
    :root {
        --LEFT-UPPER-PART-ONE: 43px;
        --LEFT-UPPER-PART-TWO: 168.5px;
        --LEFT-UPPER-PART-THREE: 337px;
        --LEFT-UPPER-PART-FOUR: 462.5px;
        --MARGIN-LEFT-TWO: 42.5px;
        --MARGIN-LEFT-THREE: 84px;
        --PIANO-PADDING: 20px;
        --INFO-WIDTH: 586.9px;
        --PIANO-WIDTH: 40px;
        --PIANO-HEIGHT: 120px;
        --PIANO-SHADOW: 5px 5px 5px rgb(95, 95, 95);
        --PIANO-FONT-SIZE: 10px;
        --UPPER-WIDTH: 25px;
        --UPPER-HIGHT: 55px;
    }
}

@media (max-width: 600px) {
    :root {
        --LEFT-UPPER-PART-ONE: 30px;
        --LEFT-UPPER-PART-TWO: 120px;
        --LEFT-UPPER-PART-THREE: 240px;
        --LEFT-UPPER-PART-FOUR: 330px;
        --MARGIN-LEFT-TWO: 30px;
        --MARGIN-LEFT-THREE: 60px;
        --PIANO-PADDING: 10px;
        --INFO-WIDTH: 90%;
        --INFO-HIGHT: 60px;
        --INFO-FONT-SIZE: 1.6rem;
        --MARGIN-INFO-BOTTON: 10px;
        --PIANO-WIDTH: 28px;
        --PIANO-HEIGHT: 90px;
        --PIANO-SHADOW: 3px 3px 3px rgb(95, 95, 95);
        --UPPER-WIDTH: 18px;
        --UPPER-HIGHT: 45px;
        --UPPER-LEFT: -9px;
        --BODY-PADDING: 5px;
    }

    .buttons {
        transform: scale(0.9);
        transform-origin: top center;
    }
}

@media (max-width: 450px) {
    :root {
        --INFO-PHONE-DISPLAY: inline;
    }
}